.container {
  margin-top: 6px;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
}
.topFooter {
}
.topFooter > h1 {
  font-size: 33px;
  color: red;
}
.middleFooter {
}
.bottomFooter {
  display: flex;
  flex-direction: column;
  color: white;
  fill: red;
  padding: 24px 0px;
}
.bottomFooter > ul {
}
.bottomFooter > ul > li {
}
.bottomFooter > ul > li > svg {
  font-size: 40px;
}

.socialMedia {
  display: flex;
  gap: 13px;
  justify-content: space-evenly;
  color: red;
}
.middleFooter {
    gap: 73px;
    color: white;
    column-count: 4;
    padding: 38px 0px;
}
.middleFooter > h1 {
    font-size: 25px;
    font-weight: 600;
}
.middleFooter > ul {
    padding: 4px 0;
    font-size: medium;
    font-weight: 300;
}
.middleFooter > ul > li {
    font-size: medium;
    font-weight: 300;
    padding: 4px 0;
}

.locationLinks {
}
